@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);

body {
  margin          : 0;
  padding         : 0;
  font-family     : 'Open Sans';
  background-color: #222831;
  color           : #eee;
  position        : relative;
}

header {
  text-align: center;
}

a {
  color          : #eee;
  text-decoration: none;
}

.flex a {
  background     : transparent;
  border-radius  : 2px;
  width          : 250px;
  height         : 50px;
  margin         : 10px;
  font-size      : 1.2rem;
  display        : flex;
  justify-content: center;
  align-items    : center;
  border         : 2px solid #111;
  box-shadow     : inset 0 0 0 0 #aaa;
  transition     : .4s ease-in-out;
  border-radius  : 5px;
}

.flex a:hover {
  border: 2px solid #aaa;
}

.source:hover,
.try-it:hover {
  color     : #000;
  box-shadow: inset 250px 0 0 0 #aaa;
  transition: .4s ease;
}

.flex:active {
  transform: scale(0.97)
}

[data-gh-icon] {
  margin-left: 10px;
  transition : .4s ease;
}

.animate a {
  color                  : transparent;
  background-image       : linear-gradient(to right, #39d353, #58a6ff, #e3b341);
  -webkit-background-clip: text;
  background-clip        : text;
  background-size        : 500%;
  -webkit-background-size: 500%;
  animation              : gradient 5s linear infinite;
}

.wrapper {
  margin        : 24px;
  display       : flex;
  flex-direction: column;
}

.project {
  display        : flex;
  justify-content: space-evenly;
  margin         : 10px;
}

.project__info {
  font-size      : 2rem;
  display        : flex;
  flex-direction : column;
  justify-content: center;
  align-items    : center;
}

.project__preview {
  width: 70%;
}

@keyframes gradient {
  0% {
    background-position: 0 100%;
  }

  50% {
    background-position: 100% 0;
  }

  100% {
    background-position: 0 100%;
  }
}